@keyframes widht-animation {
    0%   {width: 0%}
    100% {}
}


html{
    overflow: hidden;
    cursor: none;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

section {
    position: relative;
    height: 100%;
    width: 100%;
}



section:nth-of-type(2) {
    background-color: blue;
}

section:nth-of-type(3) {
    background-color: green;
}


.underscore{
    width: 386px;
    height: 5px;
    margin-top: 2%;

    background: #FFFFFF;
}

